* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Inter", sans-serif;
}
ul,
li {
  list-style: none;
}
header,
section {
  background-color: #1a1b21;
  width: 317px;
}
header {
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 44px;
  text-align: center;
}
section {
  padding: 0 30px;
}
footer {
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  width: 317px;
}
#root {
  align-items: center;
  background-color: #23252c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
  margin: 53px auto 0 auto;
  padding: 44px 117px;
  width: 550px;
}
.header--photo {
  border-radius: 10px 10px 0px 0px;
  flex-shrink: 0;
  width: 317px;
}
.header--name {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 21px auto 6px;
}
.header--role {
  color: #f3bf99;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 9px;
}
.header--website {
  color: #f5f5f5;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}
.header--buttons {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 15px;
}
.email_button,
.linkedin_button {
  align-items: center;
  border-radius: 6px;
  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 9px 13px;
  line-height: 16px;
  width: 115px;
}
.email_button {
  background: var(--white, #fff);
  border: 1px solid var(--gray-300, #d1d5db);
  color: #374151;
}
.linkedin_button {
  background: #5093e2;
  color: #fff;
}
.section_title {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%; /* 24px */
  padding-bottom: 5px;
}
.section_text {
  color: #dcdcdc;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
  padding-bottom: 27px;
  width: 247px;
}
.socials {
  align-items: center;
  display: flex;
  height: 64px;
  gap: 20px;
  justify-content: center;
}
.socials > li {
  width: 25px;
  height: 25px;
}
